 @font-face {
  font-family: NotoSansJP-Thin; 
  src: url(../fonts/NotoSansJP-Thin.otf);
 }

 @font-face {
  font-family: NotoSansJP-Thin; 
  src: url(../fonts/NotoSansJP-Light.otf);
 }

 @font-face {
  font-family: NotoSansJP-Thin; 
  src: url(../fonts/NotoSansJP-Regular.otf);
 }

 @font-face {
  font-family: NotoSansJP-Thin; 
  src: url(../fonts/NotoSansJP-Medium.otf);
 }

 @font-face {
  font-family: NotoSansJP-Thin; 
  src: url(../fonts/NotoSansJP-Bold.otf);
 }

 @font-face {
  font-family: NotoSansJP-Thin; 
  src: url(../fonts/NotoSansJP-Black.otf);
 }

$nt: NotoSansJP-Thin;
$nl: NotoSansJP-Light;
$nr: NotoSansJP-Regular;
$nm: NotoSansJP-Medium;
$nb: NotoSansJP-Bold;
$nblack: NotoSansJP-Black;

html, body {
  display: block;
  width: 100%;
  height: 100%;
  max-height: max-content;
  padding: 0;
  margin: 0;
}

* {
  font-size: 16px;
  font-family: $nr, Arial, sans-serif;
  color: #414554;
}

body {
  background: #f6f6f6;
}

.background {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.more-w {
  display: none;
}

.logo {
    display: inline-block;
    border: 10px solid rgba(255, 255, 255, .8);
    border-radius: 50%;
    padding: 20px 22px 18px;
    background-color: #e5e8f6;
    box-shadow: -10px -10px 10px #fff, 10px 10px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.logo-svg,
.icon {
  width: 32px;
  height: 32px;
}

.wrapper {
  display: inline-block;
  width: 100%;
  max-height: max-content;
  height: 100%;
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;  
}

.content {
  display: inline-block;
  position: relative;
  padding: 20px 0;
  max-width: 300px;
  width: 100%;
  max-height: max-content;
}

body input, button {
  box-sizing: border-box;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  line-height: 16px;
  height: 56px;
  width: 100%;
  padding: 19px 15px;
  background: #f6f6f6;
  text-align: center;
  box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
  transition: .2s;
  -webkit-tap-highlight-color: rgba(0,0,0,0); }

body input {
  font-size: 15.4px; 
  box-shadow: 0px 0px 0px #a3a3a3, 
              0px 0px 0px #dddddd,
              inset 5px 5px 10px #a3a3a3, 
              inset -5px -5px 10px #dddddd;
}

button {
  padding: 10px 15px;
  height: 46px;
  /*  box-shadow: -10px -10px 10px #fff, 10px 10px 10px rgba(0, 0, 0, 0.1);*/
  background: #f6f6f6;
  box-shadow:  5px 5px 8px #a3a3a3, 
              -5px -5px 8px #dddddd;
  transition: .1s; }

button:hover {
  /*  box-shadow: 0px 0px 8px #b1b1b1, 0px 0px 8px #ffffff;*/
  box-shadow: 0px 0px 0px #a3a3a3, 
              0px 0px 0px #dddddd,
              inset 5px 5px 10px #a3a3a3, 
              inset -5px -5px 10px #dddddd;
              font-size: 15.4px; 
  transition: .1s; }

button:active {
/*  box-shadow: inset 0px 0px 8px #b1b1b1, inset 0px 0px 8px #ffffff;*/
    box-shadow:
             0px 0px 1px #a3a3a3, 
             0px 0px 1px #dddddd,
             inset 5px 5px 15px #a3a3a3, 
             inset -5px -5px 15px #dddddd;
  transition: .1s; }

button:focus {
    outline: none;
}

input:focus {
  outline: none;
}

input:hover,
button:hover {
  cursor: pointer;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}

button {
  display: inline-block;
  border: none;
  pointer-events: all;
}

form {
  display: inline-block;
  width: 100%;
  float: right;
  line-height: 0;
}

.members-ww {
  margin-bottom: 25px;
}

.bills-w {
  display: inline-block;
  width: 100%; 
  margin: 28px 0 0;                       
}

.bills {
  display: inline-block;
  width: 100%;   
}

.bills input {
   display: inline-block;
   width: 100%;
   float: left;
}

.m-name .m-caption-text {
  display: inline-block;
  float: left;
  width: 100%;
  line-height: 39px;
  margin: 0px;
  line-height: 30px;
  text-align: right;
  padding-top: 12px;
}

.m-name {
  display: inline-block;
  float: left;
  position: relative;
  margin-right: 5px;
}

.n-name:last-child {
  margin-right: 0;
}

.m-name input {
  display: inline-block;
  width: 90%;
}

.members, .member {
  display: inline-block;
  width: 100%;
}

.member, .member * {
  user-select: none;
}

.members, .bills {
  display: flex;
  flex-flow: column nowrap;
}

.member {
  border-radius: 25px;
  padding: 0 10px 10px 40px;
  background: #f6f6f6;
  box-shadow: -10px -10px 10px #fff, 10px 10px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 5px 5px 8px #a3a3a3, -5px -5px 8px #dddddd;
  position: relative;
  box-sizing: border-box;
  margin-bottom: 20px;
  overflow: hidden;
}

.member .m-name-w {
  display: inline-block;
  float: left;
  width: 100%;
  margin: 0px;
  text-align: right;
  padding: 16px 0 6px;
  margin: 0;
}

.member .m-name-w > * {
  float: left;
}

.member .m-name-w > div:last-child {
  float: right;
}

.member .m-name-w .edit,
.member .m-name-w .m-name {
  float: left;
}

.member input {
  display: inline-block;
  width: 100%;
}

.bar-w {
  display: inline-block;
  width: calc(100% - 20px);
  box-shadow: inset 0 0 5px 4px #f6f6f6;
  border: 2px solid #e3e3e3;
  border-bottom: none;
  height: 5px;
  position: absolute;
  bottom: -1px;
  left: 8px;
  border-radius: 25px;
  overflow: hidden;
}

.bar {
  width: 0px;
  background: #bac1e1;
  height: 4px;
  bottom: 1px;
  display: inline-block;
  transition: .4s;
  position: absolute;
  left: 0px;
}

.remove-member, .remove-bill {
  position: absolute;
  top: 0;
  z-index: 1;
  right: -15px;
  height: 100%;
  width: 40px;
  margin-left: 15px;
  float: right;
  display: inline-block;
  background: url(../img/cross.svg) center no-repeat;
  -webkit-background-size: 100%;
  background-color: #F44336;
  background-size: 38%;
  -webkit-transition: .15s;
  -o-transition: .15s;
  transition: .15s;
  transform: translateX(40px);
  box-shadow: -5px 0px 15px 1px rgba(163, 163, 163, .6);
  &:hover {
    cursor: pointer;
    box-shadow: -5px 0px 15px 1px rgba(163, 163, 163, .6) 
                inset  0px 0px 15px 1px rgba(163, 163, 163, .6);
    transform: translateX(40px);
  }
  &:active {
    -webkit-background-size: 32%;
        background-size: 32%;    
  }
}

.remove-bill {
  height: 100%;
}

.m-name-w:hover .remove-member, 
.input-w:hover .remove-bill {
  transform: translateX(-15px);
  -webkit-transition: .15s;
  -o-transition: .15s;
   transition: .15s;
}

.cancel {
    margin-bottom: 20px;
    margin-top: 20px;
}

.ok {
  display: none;
}
.ok.btn-active {
  display: inline-block;
}

.popup {
  z-index: -1;
  height: 100%;
  width: 100%;
  background: rgba(227, 227, 227, .1);
  backdrop-filter: blur(8px);
  overflow: hidden;
  transition: .3s;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  display: inline-block;
  text-align: center;
}
.popup.opened {
  z-index: 1;
  opacity: 1;
  transition: .3s;
}

.popup-content {
  display: inline-block;
  float: none;
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 300px;
  background: #f6f6f6;
  padding: 20px;
  border-radius: 20px 20px 25px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  box-shadow: -2px -2px 2px #fff, 10px 10px 10px rgba(0, 0, 0, .1);
  max-width: 300px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: .3s;
}

.popup-content h2 {
  margin-top: 0;
}

.popup.opened .popup-content {
  z-index: 1;
}

.error-message {
  display: inline-block;
  background: #f6f6f6;
  position: relative;
  top: -7px;
  width: 100%;
  height: 16px;
  overflow: hidden;
  opacity: 0;
  font-size: 16px;
  float: left;
  line-height: 16px;
  -webkit-transition: .1s;
  -o-transition: .1s;
  transition: .1s;
}

.error-message.blink {
  animation: blink 1s ease;
}

.error-message.show {
  overflow: visible;
  opacity: 1;
  -webkit-transition:  .15s;
  -o-transition:  .15s;
  transition:  .15s;
}

.dots {
  display: inline-block;
  width: 100%;
  background: url(../img/dots.svg) center no-repeat;
  height: 7px;
  position: relative;
  top: 5px;
  float: left;
}


@-webkit-keyframes blink {
  0% {
    color: #000;
  }
  50% {
    color: #cc0000;
  }
  100% {
    color: #000;
  }
}
@-moz-keyframes blink {
  0% {
    color: #000;
  }
  50% {
    color: #cc0000;
  }
  100% {
    color: #000;
  }
}
@keyframes blink {
  0% {
    color: #000;
  }
  50% {
    color: #cc0000;
  }
  100% {
    color: #000;
  }
}

@-webkit-keyframes show {
  0% {
    opacity:  0;
  }
  100% {
    opacity:  1;
  }
}


.member .edit {
  display: inline-block;
  float: left;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  background: url(../img/gear.svg) no-repeat center;
  transform: translateY(-50%);
  -webkit-background-size: 100%;
  background-size: 100%;  
  top: 50%;
  position: absolute;
  left: 10px;
  transition: .1s;
   transform-origin: center;
}

.member .edit:hover {
  transform: translateY(-50%) rotate(25deg);
  transform-origin: center;
  transition: .1s;
  cursor: pointer;
}

.member .edit:active {
  transform: translateY(-50%) scale(.8) rotate(35deg);
  transform-origin: center;
  transition: .1s;
  cursor: pointer;
}

.input-w {
  display: inline-block;
  width: 100%;
  position: relative;
  margin-bottom: 20px;
  border-radius: 20px;
  overflow: hidden;
}

.ml-label {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(-2px);
  font-size: 16px;
  transition: .15s;
  pointer-events: none;
  width: 100%;
  line-height: 14px;
}

.ml-input {
  width: 100%;
}

.input-w .ml-label.focused  {
  transform: translateY(-11px) scale(.9);
  transition: transform .15s;
}

.input-w .ml-label.focused + input {
  padding-top: 32px;
  padding-bottom: 6px;
}

.calculate-ww, .relult-ww.calculate-mobile {
  display: inline-block;
  width: 100%;
  margin-top: 40px;
}

.calculate-ww.calculate-mobile {
  display: none;
}

.ripplelink {
  display:block;
  float:left;
  width: 100%;
  text-align:center;
  color:#000;
  text-decoration:none;
  position:relative;
  overflow:hidden;
  transition: all 0.2s ease;
  z-index:0;
}

.ripplelink:focus {
  outline: none;
}

.ink {
  display: block;
  position: absolute;
  background:rgba(255, 255, 255, 0.3);
  border-radius: 100%;
  transform:scale(0);
}

.animate {
  animation:ripple 0.65s linear;
}

@keyframes ripple {
    100% {opacity: 0; transform: scale(2.5);}
}

/* MOBILE OR IPADS */
 @media screen and (max-width: 1024px), (max-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
  .wrapper {
      height: 100%;
  }

  .content {
      margin-bottom: 100px;
      padding: 0;
  }

  button:hover {    
      box-shadow: 5px 5px 8px #a3a3a3, -5px -5px 8px #dddddd;
  }

  button:active {
        box-shadow: 0px 0px 0px #a3a3a3, 0px 0px 0px #dddddd, inset 5px 5px 10px #a3a3a3, inset -5px -5px 10px #dddddd;
  }

  .members-w, .bills-w {
    box-sizing: border-box;
  }

  .members-w.more-opened, .bills-w.more-opened, {
    height: auto;
    max-height: initial;
    transition: .15s;
    margin-bottom: -20px;
  }

  .members, .bills {
    flex-direction: column-reverse;
  }
  .member {
    min-height: 40px;
  }

  .input-w, .bill {
    min-height: 56px;
  }
  
  .members-ww, .bill-ww {
    display: inline-block;
    width: 100%;
  }

  .members-w, .bills-w {
    height: 71px;
    width: 100%;
    display: inline-block;
    overflow-y: hidden;
  }

  .members, .bills {
    overflow-x: visible;
    box-sizing: border-box;
    padding: 10px;
  }

  .button-w {
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
  }

  .more-w.show {
    display: inline-block;
  }

  .calculate-ww {
    display: none;
  }

  .calculate-ww.calculate-mobile {
    display: inline-block;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 0 5px 5px #828282;
    box-shadow: 5px 5px 8px #a3a3a3, -5px -5px 8px #dddddd;
    backdrop-filter: blur(8px);
  }

  .calculate-ww.calculate-mobile .calculate {
    max-width: 280px;
    width: 100%;
  }

}

/* MOBILE */
 @media screen and (max-width: 640px) {
  .content {
      transform: scale(.85);
      margin-bottom: 120px;
  }    
  .calculate { 
    transform: scale(.85);
  }
 }